@include(portfolio)
<div class="container mt-3">

    <div class="row">
        <div class="col-sm-6">
            <h2 class="mb-3 col-sm">Insert</h2>
            <form method="post" action="./home/add/">
                <div class="form-group row">
                    <div class="col-sm-9 mb-2">
                        <input type="text" name="home" autocomplete="off" class="form-control d-sm-block" id="home" placeholder="Entrer une valeur" required>
                    </div>
                    <div class="col-sm-3" style="vertical-align: middle">
                        <input type="submit" class="btn d-block d-sm-inline col-12 col-sm-auto btn-primary mb-2" value="Entrer">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <h2 class="mb-3 col-sm">Count</h2>
            <div class="col-sm">
                <p style="padding: .375rem 0;display: inline-block;vertical-align: baseline">Le nombre d'enregistrement: </p>
                <h4 class="count">$count</h4>
            </div>
        </div>
    </div>

</div>
