<div class="banner">
    <h4 class="text-center">Portfolio</h4>
</div>
<div class="container-fluid text-center bg-grey">
    <div class="row text-center">
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="./res/images/paris.jpg" alt="Paris"  style="width:100%">
                <p><strong>Paris</strong></p>
                <p>Yes, we built Paris</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="./res/images/newyork.jpg" alt="New York"  style="width:100%">
                <p><strong>New York</strong></p>
                <p>We built New York</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="thumbnail">
                <img src="./res/images/sanfran.jpg" alt="San Francisco"  style="width:100%" >
                <p><strong>San Francisco</strong></p>
                <p>Yes, San Fran is ours</p>
            </div>
        </div>
    </div>
</div>